<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Customer Segmentation</h1>
    <p>This is an Customer Segmentation Web App that allows you to input csv files consisting datasets to group the customer into clusters based on similar properties</p>
    <p>The follows are the simple steps to perform customer segmentation</p>
    <p>Step1 : Upload your dataset [CSV or Excel File]</p>
    <p>Step2 : Check out for null values,duplicate values and perform imputation.</p>
    <p>Step3 : Select Annual Income and Spending Score as an columns.</p>
    <p>Step4 : Use that cleaned dataset to proceed to clustering and visulization</p>
    <p>Step5 : Clustering will be done by using K-Means Clustering</p>
    <p>Step6 : All the results will be visualized on the screen</p>
</body>
</html>