<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="csvfile" id="csvfile" accept=".csv,.xslx" required>
        <button type="submit">SUBMIT</button>
    </form>
    {% if message%}
    <p>{{message}}</p>
    {% endif%}

    {% if table_string %}
    <div>{{table_string | safe}}</div>
    {% endif %}
</body>
</html>